body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-Div {
}

.Header-Div {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
}


.Image-Div {
  display: flex;
  justify-content: center;
  align-items: center;
}
