body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
}

.Header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
}

.Button {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button-1 {
  background-color: blueviolet;
  width: 25%
}

.Inputs {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Input {
  margin: 0px 20px;
  background-color: antiquewhite;
}

.Input-Text{
  width: 100%
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
}
